*{
   padding: 0%;
   margin: 0%;
}

.banner{
   height: 40vh;
   width: 100vw;
   background-color: #E3CF62;
   color: #F7F4F4;
   padding-top: 180px;
  text-align: center;
}

.cases-titel {
   font-size: 3.5rem;
}

.cases-undertitel {
   font-size: 1.5rem;
}




/* galleri kontainer */
#indeks-galleri {
    padding: 150px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
    "galleri-p galleri-p galleri-p "
    "galleri-h2 galleri-h2 galleri-h2 "
    "img1 img2 img3 "
    "img4 img5 img6 "
    "img7 img8 img9" ;
}

.wrapper-galleri {
margin-top: 0px;

}

#indeks-galleri .galleri-img {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;

}

/* billeder */

#indeks-galleri p{
   grid-area: galleri-p;
}

#indeks-galleri h2{
   grid-area: galleri-h2;
}

#indeks-galleri .img1{
   grid-area: img1;
   background-image: url(../images/img-galleri/thumbnails/img1.jpg);
}

#indeks-galleri .img2{
   grid-area: img2;
   background-image: url(../images/img-galleri/thumbnails/img2.jpg);
   
}

#indeks-galleri .img3{
   grid-area: img3;
   background-image: url(../images/img-galleri/thumbnails/img3.jpg);  
}

#indeks-galleri .img4{
   grid-area: img4;
   background-image: url(../images/img-galleri/thumbnails/img4.jpg);
   
}

#indeks-galleri .img5{
   grid-area: img5;
   background-image: url(../images/img-galleri/thumbnails/img5.jpg);
}

#indeks-galleri .img6{
   grid-area: img6;
   background-image: url(../images/img-galleri/thumbnails/img6.jpg);
}

#indeks-galleri .img7{
   grid-area: img7;
   background-image: url(../images/img-galleri/thumbnails/img7.jpg);
}

#indeks-galleri .img8{
   grid-area: img8;
   background-image: url(../images/img-galleri/thumbnails/img8.jpg);
}

#indeks-galleri .img9{
   grid-area: img9;
   background-image: url(../images/img-galleri/thumbnails/img9.jpg);
}

/* galleri billede titler ved hoover */
.galleri-img div {
    width:  100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.galleri-img a {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
}

.galleri-img div:hover {
    opacity: 0.55;
    transition: all ease-in-out 100ms;
}

/* popup vindue når klikket på */

.img-window {
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.8);
   position: fixed;
   top: 0;
   left: 0;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
}

.img-window img {
   max-height: 80vh;
   max-width: 80vw;
}

/* næste billede styling */
.img-btn-next {
   display: block;
   padding: 6px 10px;
   border-radius: 4px;
   background-color: #111111;
   position: fixed;
   top: 48vh;
   z-index: 500;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: white;
   cursor: pointer;
   text-transform: uppercase;
}

.img-btn-next:hover {
   opacity: 0.8;
}

.img-btn-prev {
   display: block;
   padding: 6px 10px;
   border-radius: 4px;
   background-color: #111111;
   position: fixed;
   top: 48vh;
   z-index: 500;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: white;
   cursor: pointer;
   text-transform: uppercase;
}

.img-btn-prev:hover {
   opacity: 0.8;
}

h2{
   margin: 0;
}


.overlay-text-popup {
    display: block;
   padding: 6px 10px;
   border-radius: 4px;
   background-color: #111111;
   position: fixed;
   top: 30vh;
   left: 50vw;
   z-index: 500;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: white;
   cursor: pointer;
   text-transform: uppercase;
}

#clients {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  gap: 10px;
  align-items: center;
  justify-content: center ;
}

#clients img {
   height: 180px;
   width: 100%;
}







@media (max-width: 1200px) {
   .cases-titel {
   font-size: 2.2rem;
   }

   .cases-undertitel {
      font-size: 1rem;
   }

   #indeks-galleri .galleri-img {
      height: 300px;
   }
  


}


@media (max-width: 800px) {
   .cases-titel {
   font-size: 1.rem;
   }

   .cases-undertitel {
      font-size: 0.9rem;
   }

   #indeks-galleri .galleri-img {
      height: 130px;
   }
  

  

}