* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* Service segment start */
.index-service {
  width: 100%;
  display: grid;
  place-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 100%;
  padding: 0 1em 1em 1em;
  text-align: center;
}

.card {
  width: 100%;
  height: 100%;
  padding: 2em 1.5em;
  background: linear-gradient(#ffffff 50%, #0020BF 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 5px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: 0.5s;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1f194c;
  margin: 1em 0;
}

p {
  color: #white;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.icon-wrapper {
  background-color: #0020BF;
  position: relative;
  margin: auto;
  font-size: 30px;
  height: 2.5em;
  width: 2.5em;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.card:hover {
  background-position: 0 100%;
}

.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #0020BF;
}

.card:hover h3 {
  color: #ffffff;
}

.card:hover p {
  color: #f0f0f0;
}

.index-servbutton {
color: #333232;
background: transparent;
border: solid #0020BF;
width: 200px;
height: 40px;
font-size: 18px;
font-weight: 600;
letter-spacing: 1px;
border-radius: 15px;
cursor: pointer;
transition-property: background;
box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.index-servbutton:hover{
background: #0020BF;
color: #fff;
}
/* Service segment slut */


/* Karriere segment start */
.bigimage {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("C:/Users/frede/OneDrive/Dokumenter/GitHub/Eksamensprojekt/eksamensprojekt/images/andre/karriere.jpg");
}

.index-billede{
  padding: 2em 1em;
  width: 100%;
  height: 400px;
  display: grid;
  place-items: center;
}

.index-imtekst{
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.index-karbutton {
color: #F7F4F4;
background: transparent;
border: solid #F7F4F4;
width: 200px;
height: 40px;
font-size: 18px;
font-weight: 600;
letter-spacing: 1px;
border-radius: 15px;
cursor: pointer;
transition-property: background;
box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.index-karbutton:hover{
background: #F7F4F4;
color: #666565;
}
/* Karriere segment slut*/


@media screen and (min-width: 768px) {
  /* Service segment start */
  .index-service {
    padding: 0 2em;
  }
  
  .column {
    flex: 0 50%;
    max-width: 50%;
  }
/* Service segment slut */


/* Karriere segment start */
  .index-billede{
    padding: 2em 3em;
    width: 100%;
  }
/* Karriere segment slut */
}


@media screen and (min-width: 992px) {
  /* Service segment start */
  .index-service {
    padding: 1em 3em;
  }

  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
/* Service segment slut */


/* Karriere segment start */
  .index-billede{
    padding: 2em 4em;
    width: 100%;
  }
  /* Karriere segment slut */
}
