.karriereTitel {
text-align: center;
margin-top: 1.5rem;
color: #666565;
}

.karriereUndertekst {
text-align: center;
margin-top: 1.5rem;
color: #666565;
}

.karriereContent{
  display: grid;
  gap: 1.5rem;
}

.karrierebox1{
position: relative;
background: #ffffff;
grid-gap: 1.5rem;
padding: 1rem;
border-radius: 5px;
}

.karrierebox2{
position: relative;
background: #ffffff;
grid-gap: 1.5rem;
padding: 1rem;
border-radius: 5px;
}

.imgbox1 {
height: 30%;
width: auto;
float: left;
}

.imgbox2 {
height: 30%;
width: auto;
float: right;
}

.karriereText1{
text-align: left;
float:right;
margin:3rem;
}

.karriereText2{
text-align: left;
float:left;
margin:3rem;
}
